body {
  background-color: white;
}

.searchbox {
  border: 1px solid #dedfe0;
  background: #f2f2f2;
  border-radius: 3px;
  width: 180px;
  position: relative;
}

.searchbox input {
  background: 0 0;
  outline: none;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 150px;
  padding: 5px;
  border: 0;
  display: inline;
  overflow: hidden;
  position: relative;
  z-index: 2;
  color: #505b67;
  line-height: 17px;
  height: auto;
  -webkit-appearance: none;
  font-size: 14px;
  margin-left: 28px;
}

.bold {
  font-weight: bold;
}

.line-left {
  height: 2rem;
  background-color: #e3ad7f;
  width: 50%;
  height: 44px;
}

.line-right {
  height: 2rem;
  background-color: #858e95;
  width: 50%;
  height: 44px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5em;
  font-weight: 300;
}

.col-md-2,
.col-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

.second {
  background: linear-gradient(to bottom, #e97103 0, #d06503 100%);
}

.second:hover {
  border-bottom: 4px solid #ae4e01;
}

.first {
  background: linear-gradient(to bottom, #fafafa 0, #ededed 100%);
  border-bottom: 4px solid #c7c7c7;
}

.third {
  background: linear-gradient(to bottom, #eb9e31 0, #e9931a 100%);
}

.third:hover {
  border-bottom: 4px solid #bf7514;
}

.fourth {
  background: linear-gradient(to bottom, #19a2d5 0, #1691be 100%);
}

.fourth:hover {
  border-bottom: 4px solid #0c6e95;
}

.fifth {
  background: linear-gradient(to bottom, #197ab8 0, #166ba2 100%);
}

.fifth:hover {
  border-bottom: 4px solid #0a4b75;
}

.sixth {
  background: linear-gradient(to bottom, #224459 0, #1b3647 100%);
}

.sixth:hover {
  border-bottom: 4px solid #10222c;
}

.seventh {
  background: linear-gradient(to bottom, #1c3648 0, #152836 100%);
}

.seventh:hover {
  border-bottom: 4px solid #091219;
}

.a {
  display: block;
  width: auto;
  height: 3.5em;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  box-shadow: 3px 3.25px 7px rgba(0, 0, 0, 0.3);
}

.ab {
  display: block;
  width: auto;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  height: 5.7rem;
  text-align: center;
  box-shadow: 3px 3.25px 7px rgba(0, 0, 0, 0.3);
}

.a:hover {
  height: 5.7rem;
}

.row {
  width: 99%;
}

.aa {
  display: block;
  width: auto;
  color: rgba(249, 249, 249, 0.9);
  text-decoration: none;
  font-weight: 400;
  height: 5.25rem;
  text-align: center;
  box-shadow: 3px 3.25px 7px rgba(0, 0, 0, 0.3);
}

.aa:hover {
  color: rgba(249, 249, 249, 0.9);
  height: 5.7rem;
}

.h3 {
  font-size: 1.1rem;
}

article h3 {
  margin-bottom: 2px;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
}

article .details p {
  line-height: 17px;
  text-align: justify;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ion-adjust {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: -0.5rem;
  text-align: center;
}

/* .ion-adjust:hover {
  transition: color .5s, margin-bottom .5s, height .5s;
  margin-bottom: -0.3rem;
} */
.nav-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.mt-6 {
  margin-top: -4.3rem;
  z-index: 1000;
}

.text-end {
  text-align: end;
}

.row-adjusted {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.img {
  width: 100%;
  height: 13rem;
}

.responsive-img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 768px) {
  .col-md-2-div {
    flex: 0 0 14.274%;
    max-width: 14.274%;
  }
}

@media (min-width: 768px) {
  .col-md-2-div {
    flex: 0 0 14.274%;
    max-width: 14.274%;
  }
}

@media (min-width: 768px) {
  .col-md-2-div-div {
    flex: 0 0 14.356%;
    max-width: 14.356%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 974px;
  }
}

fieldset {
  margin: 0;
  min-width: 0;
}

fieldset,
legend {
  padding: 0;
  border: 0;
}

.searchbox i {
  margin-bottom: -35px;
  float: left;
  /* margin-top: 5px; */
  margin-left: 5px;
  font-size: 1.2rem;
}

.person {
  margin-right: 5px;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  top: -8px;
  z-index: 1071;
}

.overlay {
  background-color: #fff;
  top: 0;
  width: 100%;
  height: 86px;
  position: fixed;
  z-index: 1;
  display: block;
}

.dropdown-menu-adjusted {
  position: absolute;
  top: 12px;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  width: 8.4rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #dddddd;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.a-style {
  color: #333;
}

.a-style:hover {
  color: #faab37;
}

.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
  color: black;
  text-decoration: none;
  background-color: #bebebe;
}

.dropdown:hover .dropdown-menu-adjusted {
  display: block;
}

.img-container:hover .btn-save {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.login-register {
  display: flex;
  justify-content: flex-end;
}

.auto-localize {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: #166ba2;
  background-color: transparent;
}

.filter-list {
  font-weight: 400;
  margin-right: 1rem;
}

.img-logo {
  width: 81%;
  height: 4rem;
  margin-left: 5rem;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.radius-none {
  border-radius: 0;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.my-btn {
  color: #fff;
  background-color: #4a3f39;
  border-color: #473f3a;
}

.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #584e48;
  border-color: #5f5550;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #7b736f;
}

.my-btn:hover {
  color: #fff;
  background-color: #584e48;
  border-color: #5f5550;
}

.my-btn:focus {
  box-shadow: 0 0 0 0.2rem #7b736f;
}

.sidebar {
  height: 100vh;
  width: 220px;
  background-color: #166ba2;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
}

.btn-checkitout {
  padding: 10px 11px;
  font-size: 15px;
  font-family: open sans condensed;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #faab37 0, #f9a11e 100%);
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn-checkitout:focus {
  outline: none;
}

.btn-checkitout:hover {
  padding: 10px 10px;
}

.nav-adjusted {
  box-shadow: 1px 1px 5px 0px #adadad;
  height: 4rem;
}

.main {
  width: 84vw;
}

@media (max-width: 596px) {
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 39px;
    margin-right: auto;
    margin-left: auto;
  }
}

li a {
  transition: color .5s, background .5s, height .5s;
}

.btn-floating {
  border-radius: 50%;
  color: white;
  background-color: #584e48;
  height: 66px;
  width: 66px;
  position: fixed;
  right: 11rem;
  top: 7rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-floating:focus,
.btn-floating:hover {
  outline: 0;
  background-color: #504843;
}

.ion-filter {
  margin-right: 0.2rem;
}

.form-control-file:focus {
  outline: 0;
}

.btn-save {
  position: relative;
  font: 20px/48px Oswald, sans-serif;
  top: 1rem;
  background: #cc1d00;
  text-align: center;
  margin-bottom: -3.1rem;
  margin-left: 12rem;
  display: none;
  width: 76px;
  color: #fff !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  padding: 0;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.close:hover {
  outline: none;
}